<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <property name="LOG_DIR" value="log/${HOSTNAME}"/>
    <property name="LOG_FILE_NAME" value="myem"/>
    <property name="logFileNamePattern" value="${LOG_FILE_NAME}_%d{yyyy-MM-dd}_%i"/>
    <property name="fileLayoutPattern"
              value="%-20(%d{yyyyMMdd_HH:mm:ss.SSS} [%thread]) [%X{requestId} %X{processId} %X{service.timing} ] %msg%n"/>
    <property name="consoleLayoutPattern"
              value="%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] [%logger{36}][%L] %-5level - %msg%n"/>
    <!-- contextName could use in pattern, like '%contextName' -->
    <contextName>cache</contextName>
    <appender name="ROLLING"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_DIR}/${LOG_FILE_NAME}.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_DIR}/${logFileNamePattern}.log
            </fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy
                    class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>5MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
            <maxHistory>21</maxHistory><!-- days -->
        </rollingPolicy>
        <layout>
            <pattern>${fileLayoutPattern}</pattern>
        </layout>
    </appender>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <layout name="StandardFormat" class="ch.qos.logback.classic.PatternLayout">
            <pattern>${consoleLayoutPattern}</pattern>
        </layout>
    </appender>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="ROLLING"/>
    </root>

    <logger name="com.wangnz" level="INFO"/>

</configuration>